<style>
  .header {
    text-align: center;
    color: green;
  }
</style>
<!-- Toolbar -->
<div class="maincontainer" role="banner">
  <div class="header"><h1>{{title}} !!!</h1></div>
  <hr>
  <h3>
    <!-- 3 types of Selectors -->
    <!-- <app-test></app-test>               = selector: 'app-test' -->
    <!-- <div class="app-test"></div>        = selector: '.app-test' -->
    <!--  selector: '[app-test]' -->
    <div app-test></div>
  </h3>
</div>

<div class="content" role="main"></div>



<router-outlet></router-outlet>