<style>
  .header {
    text-align: center;
    color: green;
  }
</style>
<!-- Toolbar -->
<div class="maincontainer" role="banner">
  <div class="header"><h1>{{title}} !!!</h1></div>
  <hr>
  <div><h2>{{"Parent Component:" + message}}</h2></div>
  <hr>
  <h3>
    <!-- 3 types of Selectors -->
    <!-- <app-test></app-test>               = selector: 'app-test' -->
    <!-- <div class="app-test"></div>        = selector: '.app-test' -->
    <!--  selector: '[app-test]' -->
    <div app-test (childEvent)="message=$event" [parentData]="fromParent"></div>
  </h3>

  <!--Directive-->
  <hr>
  <div appChangingColorDirective [bgColor]="'violet'">
    This is a directive
  </div>
  <hr>
  Custom Directive - TemplateRef, ViewContainerRef
  <div *appMyIfCustomDirective="condition">
    This will show up if the contition is true
  </div>

  <div *appMyIfCustomDirective="!condition">
    This is not of condition. i.e, !condition
  </div>
  <hr>
  Services
  <employee-list></employee-list>

  <br>
  <employee-detail></employee-detail>
</div>

<div class="content" role="main"></div>



<router-outlet></router-outlet>
